
.login_reg_style{
margin-top:5px;font-size:16px;text-align: center,margin-left:15px;
}
.mar_top30{
	margin-top:30px;
}
.login_box_style{background-color: #f3f9fc}
.profile_style{
background-color: rgb(248,248,248);border-radius: 15px;height: 215px;padding: 20px 10px;}
.mar_bottom10{margin-bottom: 10px}
.flash_div_pos{
    margin-left: 800px;
    position: fixed !important;
    z-index: 2;
    opacity: 0.9 !important;
    margin-top: -56px;
}
.mar_top90{margin-top: 90px}
.border_right{border-right: 1px solid black;
height:400px;}
.temp_style_morning{
margin-top: 50px;
font-size: 45px;
color: black;
font-weight: 700;
text-align: center;
}
.temp_style_afternoon{
margin-top: 50px;
margin-left: -15px;
font-size: 45px;
color: white;
font-weight: 700;
text-align: center;
}
.temp_style_night{
margin-top: 130px;
margin-left:-46px;
font-size: 45px;
color: white;
font-weight: 700;
text-align: center;
}
.icon_style{
font-size: 16px;
text-transform: capitalize;
margin-top: -20px;
margin-left: -15px;
}
.font_size_style{
    font-size:14px;
}
.myAddress_style{text-decoration: none;font-size: 16px;font-family: v}
.searchHistory_style{
font-size: 24px;font-weight: 700;text-align: center;border-bottom: 2px solid black;margin-top: 5px;margin-bottom: 16px;
}
.history_date_style{font-style: italic;font-size: 11px;color: grey;
}
.welcome_style{font-size: 22px;font-weight: 700;font-family: aria;color: #232559;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
 .ff_style  { color: red;display:none;  }
 .ch_style{ color:red; }
}*/
/*.ff_style,  x:-moz-any-link, x:default  {font-size: 17px;color: #363636; }
*/
.ff_style{font-size: 17px;color: #363636;}
.citysearchInput{
    width: 130%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -15px;
    margin-left:50px;
}
.modal-body{
background-color: #f2f2f2;
height:200px;
}


.search-box-bar{ width: 60%; height: auto;  padding: 20px 0px;}
.search-box-bar ul{ text-align: center; list-style:none;  position:relative; margin:0; padding:0}
.search-box-bar ul li{ display: inline; position:relative;  margin:0;  padding:0}
.search-box-bar ul ul{position: absolute;
border-radius: 0px;
top: 100%;
left: 51px;
width: 89.5%;
margin-top: 13px;
padding: 0px 0px;
height: auto;
max-height: 240px;
overflow-y: auto;
background-color: #ffffff;
border-color: #efefef;
}
.search-box-bar ul ul li{width:100%;}
.search-box-bar ul ul li a{width: 100%;text-decoration:none; color: #4a4a4a; font-size: 15px; font-weight: 300; padding: 0px}
.search-box-bar ul ul li a:hover{ text-decoration:none;background-color: #ffffff; color: #0077b5 }
.search-box-bar ul ul li :hover{ background-color: #f1f1f1; color: #0077b5 }
.search-box-bar ul ul li a div{ width:100%; display: block; text-align: left; border-top: 1px solid #efefef; padding: 1px 8px;;background-color: #f5f5f599; }

.modal-content{
 
    height:330px;
 
}
/*background-color: rgb(248,248,248);*/
.report_morning{border-radius:15px;margin-left: -25px;color:black; background-image: url("../images/morning.jpg");background-position: center center;background-size:cover;}
.report_afternoon{border-radius:15px;margin-left: -25px;color:white; background-image: url("../images/afternoon.jpg");background-position: center center;background-size:cover;}
.report_night{border-radius:15px;margin-left: -25px; color: white; background-image: url("../images/night.jpg");background-position: center center;background-size:cover;}
.history_box{background-color: rgb(248,248,248);border-radius: 15px;margin-right: -37px;width: 37%;}
div.hover_style:hover {
    background-color: #E3E3E3;
}
